<div ng-include="'app/views/menu/menu.html'"></div>

<form class="container container-full">

	<div class="row">
		<div class="widget header">
			<div class="g4">
				<h3 class="coll">Gesti&oacute;n Acad&eacute;mica</h3>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="panel-body">

		<div class="contenedor" id="idContenedor">

			<div id="pestanas">
				<ul id="lista">
					<li><a id="idSeleccion" href="#idContenedor-1">Departamentos</a></li>
					<li><a id="idEvaluacion" href="#idContenedor-2">Persona</a></li>
					<li><a id="idResultado" href="#idContenedor-3">Profesores</a></li>

				</ul>
			</div>

			<div id="contenidopestanas">
				<div id="idContenedor-1">
					<div ng-include="'app/views/tipo02/departamento.html'"></div>

				</div>
				<div id="idContenedor-2">
					<div ng-include="'app/views/tipo02/persona.html'"></div>
				</div>
				<div id="idContenedor-3">
					<div ng-include="'app/views/tipo02/profesor.html'"></div>
				</div>

			</div>



		</div>

	</div>

</form>