
<div class="row">
	<div class="g12">
		<div ng-repeat="alert in alerts">
			<notification ng-model="alert" />
		</div>
	</div>
</div>
<!-- <div class="container"> -->

<div class="row">
	<div class="g12"></div>
</div>

<div class="row">
	<div class="g12">
		<div class="g8"><h3>Datos Filiaci&oacute;n de Personal</h3></div>

		<div class="g4">
			<div class="right">
				<button type="button" class="btn btn-primary btn-sm"
					ng-click="nuevoPersona();">
					<span class="icn icn-plus-sign"></span>Nuevo
				</button>

			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="g12">
		<div class="g3">
			<div class="item">
				<label><b></b></label>
			</div>
		</div>
		<div class="g6">
			<table ng-table="tblPersona" show-filter="false"
				class="table square" wt-responsive-table>
				<tbody>
					<tr ng-repeat="item in $data">
						<td title="'Id'" style="text-align: center;">{{item.id_Person}}</td>
						<td title="'Apellidos y Nombres'" style="text-align: center;">{{item.completeName}}</td>
						<td title="'Edad'" style="text-align: center;">{{item.age}}</td>
						<!-- 							<td title="'Editar'"><a ng-click="editarAccion(item)" -->
						<!-- 								ng-show="{{item.flag24Hrs}}"><span class="icn icn-edit"></span></a></td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<div class="g3">
			<div class="item">
				<label><b></b></label>
			</div>
		</div>

	</div>
</div>

<!-- modales -->




<div id="modalPersona" class="modal fade" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">X</a>
				<h4 class="modal-title">Agregar Persona</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" name="departamentoForm">
					<div id="divAlert" class="alert alert-warning"
						ng-model="alertModal" ng-show="fAlert" ng-style="cssAlert">
						<button class="close missing" id="btnClose">
							<i class="icn icn-remove"></i>
						</button>
						<label id="idAlert">{{txtAlert}}</label>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item">
									<label><b>Nombre:</b></label>
								</div>
							</div>
							<div class="g6">
								<div class="item" style="margin-bottom: 3px">
									<input id="nombre" type="text"
										ng-model="persona.name" maxlength="20">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item">
									<label><b>Apellidos:</b></label>
								</div>
							</div>
							<div class="g6">
								<div class="item" style="margin-bottom: 3px">
									<input id="apellido" type="text"
										ng-model="persona.surname" maxlength="20" >
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="g12">
							<div class="g6">
								<div class="item">
									<label><b>Nacimiento:</b></label>
								</div>
							</div>
							<div class="g6">
								<div class="item" style="margin-bottom: 3px">
									<input id="anioNac" type="text"
										ng-model="persona.anioNac" only-digits min="1930" max="2019" maxlength="4">
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
					title="Grabar" ng-click="savePersona();">Grabar</button>
				<button type="button" class="btn btn-primary btn-sm"
					data-dismiss="modal">Cancelar</button>
			</div>
		</div>

	</div>

</div>


