<div class="login-container">
	<div class="inner-login">
		<div class="inner-left">
			<div class="brand-login"></div>

			<p class="info copyright">
				V. 0.10032017 <br> Copyright &#169; 2018.<a
					href="https://www.brujula.es/" target="_blank">© Brujula a CMC Company</a>
			</p>
		</div>
		<div class="inner-right">
			<h2>Iniciar sesi&#243;n</h2>
			<div ng-repeat="alert in alerts">
				<notification ng-model="alert" />
			</div>
			<form name="formLogin" ng-submit="summit()" novalidate
				autocomplete="off">
				<div class="field">
					<i class="icnx icn-username"></i> <input type="text"
						name="username" ng-model="username" required=""
						placeholder="Usuario" autofocus maxlength="50"> <span
						ng-show="formLogin.input.$error.required">Requerido</span>
				</div>
				<div class="field">
					<i class="icnx icn-password"></i> <input type="password"
						name="password" ng-model="password" required=""
						placeholder="Contrase&#241;a" maxlength="50">
				</div>
				<div class="field">
					<div class="left">
						<a ng-click="abrirCambioClave()">Cambiar Contrase&ntilde;a</a>
					</div>
				</div>
				<div class="field">&nbsp;</div>
				<div class="field">
					<div class="right">
						<button id="btn_login" type="submit"
							class="btn btn-primary btn-sm" ng-disabled="formLogin.$invalid">Iniciar
							sesi&#243;n</button>
					</div>
				</div>
				<div class="clear"></div>
			</form>
		</div>
	</div>
	<div class="powered align-center"></div>

	<div id="modalFormCambioClave" class="modal fade" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<a data-dismiss="modal" class="close">X</a>
					<h4 class="modal-title">Cambio contrase&ntilde;a</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="g3">
							<label>Usuario:</label>
						</div>
						<div class="g9">
							<input type="text" id="username_cc" name="username_cc"
								class="form-control" ng-model="username_cc" required="true"
								placeholder="Usuario" />
						</div>
					</div>
					<div class="row">
						<div class="g3">
							<label>Contrase&ntilde;a actual:</label>
						</div>
						<div class="g9">
							<input type="password" name="password_actual"
								class="form-control" ng-model="password_actual"
								placeholder="Contrase&#241;a actual">
						</div>
					</div>
					<div class="row">
						<div class="g3">
							<label>Contrase&ntilde;a nueva:</label>
						</div>
						<div class="g9">
							<input type="password" name="password_nuevo" class="form-control"
								ng-model="password_nuevo" placeholder="Contrase&#241;a nueva">
						</div>
					</div>
					<div class="row">
						<div class="g3">
							<label>Repetir contrase&ntilde;a nueva:</label>
						</div>
						<div class="g9">
							<input type="password" name="repassword_nuevo"
								class="form-control" ng-model="repassword_nuevo"
								placeholder="Repetir contrase&#241;a nueva">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-sm" id="btnGrabar"
						title="Grabar" ng-click="cambiarClave();">Grabar</button>
					<button type="button" class="btn btn-primary btn-sm"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="bg-dark">
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">SUNAT - DEVOLUCIONES</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    form card login
                    <div class="card rounded-1">
                        
                        <div class="card-header">
                            <img alt="" src="src/app/image/Sunat.png" width="300px" height="80px" align="center">
                        </div>
                        <div class="card-body" >
                            <form class="form" role="form" id="formLogin" name="formLogin"  method="post" novalidate>
                                <div class="form-group">
                                    <label for="user">Usuario</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="user" id="user" required ng-model='formData.user' 
                                    data-ng-class='{ error: formLogin.user.$invalid && !formLogin.$pristine }'>
                                    <div data-ng-show="!formLogin.$pristine && formLogin.user.$error.required" class="invalid-feedback">Usuario Requerido...!!!</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd" name="pwd" ng-model='formData.pwd' required 
                                    data-ng-class='{ error: formLogin.pwd.$invalid && !formLogin.$pristine }' >
                                    <div data-ng-show="!formLogin.$pristine && formLogin.pwd.$error.required" class="invalid-feedback">Password Requerido...!!!</div>
                                </div>
                                <div>
                                    <label class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description small text-dark">Remember me on this computer</span>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin" data-ng-click='validarlogin(formData)' data-ng-disabled='!formLogin.$valid'>Ingresar</button>
                                
                                
                            </form>
                        </div>
                        /card-block
                    </div>
                    /form card login

                </div>


            </div>
            /row

        </div>
        /col
    </div>
    /row
</div>
/container
</body>
</html> -->